<header class="header">
  <button class="toggle-btn" (click)="toggleSidenav()" title="Toggle sidenav" *ngIf="!isLoginPage">
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
  </button>
  <span class="header-title">Shiva Digital </span>
  <span *ngIf="showLogout && userName" class="header-user">{{ userName }}</span>
  <button *ngIf="showLogout" class="logout-btn" (click)="logout()" title="Logout">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" y1="12" x2="9" y2="12"/></svg>
  </button>
</header>
